body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/hexellence.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

h1
{
	font-size: 30px;
	text-align: center;
}

#container
{
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#container2
{
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#container3
{
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


input[type=text],
input[type=password],
input[type=email]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=submit]
{
	width: 300px;
	background-color: #0931A5;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #071746;
}


#option
{
	width: 300px;
	background-color: #0931A5;
	color: white;
	border: 2px solid #071746;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

#option:hover
{
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1); 
	cursor: pointer;
	background-color: #071746;
}

#wydatek
{
	width: 300px;
	background-color: #0931A5;
	color: white;
	border: 2px solid #071746;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

button
{
	width: 100px;
	background-color: #0931A5;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

button:hover
{
	background-color: #071746;
}

#button1
{
	margin-right: 48px;
}

#button2
{
	margin-left: 48px;
}
#komentarz
{
	resize: none;
}

#bilans
{
	text-align: center;
	width: 300px;
	background-color: #0931A5;
	color: white;
	border: 2px solid #071746;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	
}